gi# 📦 Системные файлы
.DS_Store

# 🧠 Конфиги IDE
.vscode/
.cache/
.idea/
.out/
build/
build_macos/
scripts/scripts_postgres/

# 🏗️ Файлы сборки CMake
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
.clangd

# Игнорировать все скрипты

# Разрешить конкретные

# 🧪 Отладка и временные артефакты
*.o
*.obj
*.a
*.so
*.out
*.exe
*.log
*.tmp
*.swp

# 🛠️ Конфигурация генераторов
*.ninja
*.rule
.ninja_deps
.ninja_log

# 📄 Документация и автогенерируемые файлы
docs/
Doxyfile
*.puml
*.svg
#*.png
*.html

# Но НЕ игнорировать эти

# 🛡️ Утилиты
#.clang-format
.clangd

# 📜 Скрипты и временные файлы
#*.sh
*.bat
*.pyc
*.bak

# 🧪 Тестовые данные или отладочные файлы
test_results/
*.test
*.json

# 🧾 Исключаем вручную
CMakeLists.txt.user
CMakeLists.txt.user*
scripts/scripts.txt
